body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    
}

.header,
.hero,
.hero-title,
.hero-text {
    background-color: #1F2937;
    padding: 0px 200px;
}

.header {
    color: white; 
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero img {
    width: 200px;
}

.header-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}